<div class="row">
  <div class="col-md-6">
    <h3>Tuesday 1st Dec, 14:00 - 17:00 </h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>14:00</td>  <td>Start</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday 2nd Dec, 9:30 - 12:30</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Start</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday 8th Dec, 14:00 - 17:00</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Start</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday 9nd Dec, 9:30 - 12:30</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Start</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday 15th Dec, 14:00 - 17:00</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td>Start</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
</div>
