<div class="row">
  <div class="col-md-6">
    <h3>Tuesday 1st Dec, 14:00 - 17:00, Lead Instructor Edward Wallace </h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:45</td>  <td>Zoom room opens</td> </tr>
      <tr> <td>14:00</td>  <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct. </td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data organisation in spreadsheets</a> - sections 1-3 </td> </tr>
      <tr> <td>15:30</td>  <td>Tea break (approximately)</td> </tr>
      <tr> <td>15:45</td>  <td><a href="https://datacarpentry.org/organization-genomics/">Data organisation for genomics</a> - sections 1-2</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday 2nd Dec, 9:30 - 12:30, Lead Instructor Flic Anderson</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td><a href="https://edcarp.github.io/genomics-r-intro/">R for genomics: Introduction to R and Rstudio, R basics</a></td> </tr>
      <tr> <td>11:00</td>  <td>Coffee break (approximately)</td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://edcarp.github.io/genomics-r-intro/03-basics-factors-dataframes/index.html">R basics continued: factors and dataframes</a></td> </tr>
  <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday 8th Dec, 14:00 - 17:00, Lead Instructor Flic Anderson</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://edcarp.github.io/genomics-r-intro/04-dplyr/index.html">Aggregating and Analyzing Data with dplyr</a></td> </tr>
      <tr> <td>15:30</td>  <td>Tea break (approximately)</td> </tr>
      <tr> <td>15:45</td>  <td>Continue with dplyr OR start ggplot2, depending on progress.</td> </tr>     <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday 9nd Dec, 9:30 - 12:30, Lead Instructor Edward Wallace</h3>
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Data visualisation with ggplot2, using material from <a href="https://edcarp.github.io/genomics-r-intro/05-data-visualization/index.html">R for genomics</a> and elsewhere</td> </tr>
      <tr> <td>11:00</td>  <td>Coffee break (approximately)</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday 15th Dec, 14:00 - 17:00, Lead Instructor Edward Wallace</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://github.com/edcarp/2020-12-01-edinburgh-bio-online/blob/gh-pages/data-surgery-guidelines.md">Data surgery - Bring your own data to discuss how to use tools of the class to tidy, analyze, and visualize.</a></td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
